@font-face {
  font-family: "SeoulNamsanCB";  
  src: url("./resources/SeoulNamsan-CB.ttf.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: "SeoulNamsanCB", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A2633 !important;
  color: white !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
