.objective-card {
    width: 250px;
    height: 360px !important;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle-image-wrapper {
    position: absolute;
    top: -100px;
    z-index: 2;
    background-color: transparent;
}

.circle-image-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: var(--card-image-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* prevents overflow from image */
}

/* .circle-image {
    width: 150px; 
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
} */


.objective-card-body {
    background-color: var(--card-background-color) !important;
    color: var(--primary-text-color);
    padding-top: 80px; /* to push text below image */
    border-radius: 15px !important;
    text-align: center;
    min-height: 250px;
    width: 100%;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    flex: 1; /* fills remaining space */
    overflow: hidden; /* hide overflow content */
}

.objective-title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: white !important;
}

.objective-number{
    color: black !important;
    font-size: 6rem;
    font-family: goldman, sans-serif;
}

.objective-text {
    font-size: 1.5rem;
    color: var(--secondary-text-color);
    text-align: left !important;
}

@media screen and (max-width: 768px) {
    .objective-card {
        width: 70vw; /* 90% of the screen width */
        height: auto; /* auto height to fit content */
        margin: 80px 0; /* vertical margin for spacing */
    }

    .circle-image-wrapper {
        top: -80px; /* adjust position for smaller screens */
    }

    .circle-image-container {
        width: 150px;
        height: 150px;
    }

    .circle-image {
        width: 120px;
        height: 120px;
    }

    .objective-card-body {
        padding-top: 60px; /* adjust padding for smaller screens */
    }
    
    .objective-title {
        font-size: 1.5rem; /* adjust font size for smaller screens */
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .objective-card {
        width: 60vw; /* 80% of the screen width */
        height: auto; /* auto height to fit content */
        margin: 50px 0; /* vertical margin for spacing */
    }

    .circle-image-wrapper {
        top: -90px; /* adjust position for medium screens */
    }

    .circle-image-container {
        width: 180px;
        height: 180px;
    }

    .circle-image {
        width: 140px;
        height: 140px;
    }

    .objective-card-body {
        padding-top: 70px; /* adjust padding for medium screens */
    }

    .objective-title {
        font-size: 1.3rem; /* adjust font size for medium screens */
    }
    
}
