.text-div{
    color: var(--primary-text-color);
}

/* Responsive Text */
.partners-title {
    font-size: clamp(2.5rem, 5vw, 6rem) !important; 
}

.partners-p {
    color: var(--secondary-text-color) !important;
    font-size: clamp(1rem, 2vw, 1.4rem) !important;
}

.text-div{
    width: clamp(400px, 50vw, 850px) !important;
    margin-left: 5vw !important; 
    margin-top: 10vh !important;
}

.partners-page-description{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;

    flex-wrap: wrap !important;

    background-image: url("../resources/earth.png"); 
    background-size: 40%;
    background-position: right 50px top 100px;
    background-repeat: no-repeat;

    padding-top: 5vh !important;
}

.partner-cards{
    padding-top: 25vh !important;
    padding-bottom: 15vh !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--partners-background-color) !important;
}

@media screen and (max-width: 768px) {
    .partners-page-description {
        flex-direction: column; /* Stack items vertically */
        margin-top: 50px !important;
        align-items: center !important;

        text-align: center !important;

        background-image: url("../resources/earth.png");
        background-size: 50%;
        background-position: bottom 150px center;
        background-repeat: no-repeat;
  
    }

    .text-div {
        width: 90% !important; /* 90% of the screen width */
        text-align: center !important;
    }

    .partners-title {
        font-size: clamp(1.5rem, 5vw, 3rem) !important;
    }

    .partners-p {
        font-size: clamp(0.8rem, 3vw, 1rem) !important;
    }

    .partner-cards {
        padding-top: 10vh !important;
        padding-bottom: 5vh !important;
    }

}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .partners-page-description {
        flex-direction: column; /* Stack items vertically */
        margin-top: 50px !important;
        align-items: center !important;

        text-align: center !important;

        background-image: url("../resources/earth.png");
        background-size: 70%;
        background-position: bottom 150px center;
        background-repeat: no-repeat;
    }

    .description-content{
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
        display: flex !important;
        flex-direction: column !important;
        width: 100% !important;
    }

    .text-div {
        width: 70% !important; /* 70% of the screen width */
        text-align: center !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .partners-title {
        font-size: clamp(2rem, 5vw, 4rem) !important;
    }

    .partners-p {
        font-size: clamp(0.8rem, 3vw, 1rem) !important;
    }
    .partner-cards {
        padding-top: 10vh !important;
        padding-bottom: 5vh !important;
    }

    
    
}
